.main-btn {
  border: none;
  background: #1c1f2b;
  color: #fff;
  border-radius: 14px;
  box-shadow: 0 2px 8px #0002;
  font-weight: 600;
  transition: 0.14s;
  cursor: pointer;
}
.main-btn:hover {
  background: #2c3141;
}
